.placeOrder {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.fullPrice {
    display: flex;
    align-items: center;
}

.currencyIcon svg {
    width: 100%;
    height: 100%;
}

.waitSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}